.grid {
    position: fixed;
    display: flex;
    margin-left: 20vmin;
    margin-right: 20vmin;
    overflow-x: hidden;
    overflow-y: auto;
}

.text {
    padding-top: 96vh;
    font-size: 1.5vmax;
}